$primary: 'red';
@import 'ember-paper';

html, body {
  margin: 0px;
  background-color: #e2b8b7;
}

.nav {
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: white;
  font-family: Impact;
  font-size: 2em;
  background-color: red;
  height: 60px;
  border-bottom: 3px solid darkred;
}

.nav-text {
  text-decoration: none;
}

.main-display {
  padding: 100px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: lightgray;
  position: absolute;
  top: 10%;
  left: 5%;
  border-right: 3px solid gray;
  border-bottom: 3px solid gray;
}

.submit-form {
  padding: 5%;
  position: relative;
  margin-top: 3%;
  bottom: 50%;
  left: 5%;
  width: 80%;
  height: 80%;
  background-color: white;
  border: 3px solid transparent;
  box-shadow: 2px 2px grey;
}

.submit-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3%;
  font-size: 2em;
}

.submit-button {
  margin-left: 94%;
}
