@import 'ember-paper';

html, body {
  margin: 0px;
  background-color: #e2b8b7;
}

.nav {
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: white;
  font-family: Impact;
  font-size: 2em;
  background-color: red;
  height: 60px;
  border-bottom: 3px solid darkred;
}

.nav-text {
  text-decoration: none;
}

.main-display {
  padding: 100px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: lightgray;
  position: absolute;
  top: 10%;
  left: 5%;
  border-right: 3px solid gray;
  border-bottom: 3px solid gray;
}
