<div class='nav'>
  Ember Quiz
  {{#link-to 'questions'}}{{#paper-button raised=true}}Questions{{/paper-button}}{{/link-to}}
  {{#link-to 'questions.submit'}}{{#paper-button raised=true}}Submit Question{{/paper-button}}{{/link-to}}
  {{#paper-button raised=true}}Help{{/paper-button}}
</div>

{{main-display questions=model}}

{{outlet}}